
@font-face {
    font-family: Muli; /* Гарнитура шрифта */
    src: url(../img/Muli-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
   }
   h1 {
    font-family: Muli;
   }
   body {
    font-family: Muli, 'Comic Sans MS', cursive;
   }

.audio{
    border-top: 1px solid #eaeaea;
    float: left;
    position: static;
    margin-top: 14%;
    width: 100%;
    height: 80px;
  
    top: 870px;
}
.stb{
    height: 50px;
}
.control{
    
    height: 100%;
    width: 270px;
    background-color: white;
}
.do{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 55px; 
    width: 55px;
   
    
}
.play{
    
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 55px; 
    width: 55px;
    
    
}
.pause{
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    height: 55px; 
    width: 55px;

}
.up{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    height: 55px; 
    width: 55px;
    
   
}
.cont{
    
    height: 100%; 
    width: 90px;
}
.titilee{
    margin-left: 150px;
    margin-top: 50px;
    font-size: 20pt;
    float: left;
    width: 200px;
    height: 50px; 
}
.artist{
    margin-left: -195px;
    margin-top: 100px;
    font-size: 15pt;
    float: left;
    width: 200px;
    height: 50px; 
}

.label{
    position: relative;
    float: left;
    height: 100px;
    width: 800px;
    top: -86px;
    left: 550px;
}


.title{
    
    margin-left: 60px;
    margin-top: 20px;
    font-size: 16pt;
}
.audio img{
    margin-top: 2px;
    margin-left: 3px;
}
.times{
    font-size: 11pt;
    margin-left: 7px;
    float: left;
    margin-top: 25px;
}
.time{
    width: 50px;
}
.timea{
    font-size: 11pt;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}
.hidden { 
display: none;
}
.progress{
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 10px;
    float: left;
    width: 680px;
    height: 3px;
  
}
.progreA{
    height: 5px; 
}
.play:hover{
    background-color: rgb(212, 212, 212);
}
.pause:hover{
    background-color: rgb(212, 212, 212);
}
.up:hover{
    background-color: rgb(212, 212, 212);
}
.do:hover{
    background-color: rgb(212, 212, 212);
}
.imgalb{
    float: left;
    width: 380px;
    
}
.inform{
    position: relative;
    left: 50px;
    top: 50px;
    float: left;
    width: 380px;
    height: 380px;
}
.tracklist{
    margin-top: 100px;
    margin-left: 100px;
    float: left;
    width: 70%;
    height: 100%;
}
.titiletrack{
    width: 54%;
}
.tracktable{
    width: 70%;
}
.strin{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 50px;
}
.imgfont{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 34px;
    height: 34px;
}

.nopointer{
    pointer-events: none;
}

.point {
    pointer-events: auto;
}
table  {
   
    border-top: 1px solid #eaeaea;
    border-collapse: collapse;
    font-size: 14pt;
    text-align: left;
}
.artisttit{
   width: 35%;
}
table td {
    border-top: 1px solid #eaeaea;
}
table tr:hover {
    margin-left: 0px;
    padding-left: 0px;
    background-color: rgb(236, 234, 236);
}
.pausee{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 45px;
    height: 45px;
}
.seting{
    float: left;
    margin-left: 750px;
    margin-top: -70px;
    height: 100px;
    width: 270px;
}

.sentin{

    margin-top: 30px;
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 20px;
}
.sentin:hover{
    border-radius: 50%;;
    background-color: rgb(211, 211, 211);
}
.sentin img {
    margin-top: 6px;
    margin-left: 5px;
}

.volumee{
    margin-left: 700px;
}
.vol{
    width: 200px;
    height: 50px;
    position: fixed;
    margin-left: 42px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    box-shadow: -680px 0 0 680px rgb(185, 21, 21);
    background: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #1d1d1d;
    cursor: pointer;
}


.slider[type='range'] {
    overflow: hidden;
    width: 680px;
    -webkit-appearance: none;
    background-color: #b8b7b5;
  }

#volu{
    height: 7px;
    width: 200px;  
}
  
.imgalb img {
    width: 380px;
    height: 380px;
}
.imgfont {
    width: 50px;
    height: 50px; 
}
.imgfont img {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-top: 7px;
  
}
.namber {
    width: 30px;
    height: 50px;
}
